.custom-navbar {
  background-color: #000;
  padding-top: 15px;
  padding-bottom: 15px;
}

/* Cambiar color de los links */
.navbar-nav .nav-link {
  color: #f1f1f1;
  font-weight: 500;
}

.navbar-nav .nav-link:hover {
  color: #c9c9c9;
}

/* Marca */
.navbar-brand {
  color: #ffffff;
  font-weight: bold;
  letter-spacing: 0.5px;
}

.navbar-brand:hover {
  color: #d6d6d6;
}
