.home-container {
  background-color: #e5e5e5;
  min-height: calc(100vh - 70px); /* todo el alto menos la navbar */
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

.home-wrapper {
  min-height: 100vh;
  background: linear-gradient(135deg, #e8f0ff, #ffffff);
}
.text-primary {
    font-size: 30px;
}

.card {
  backdrop-filter: blur(6px);
  background: rgba(255, 255, 255, 0.9);
}